doctype html 
html 
	head
		meta(charset="utf-8")/
		title Hospital-Arqui2
		link(rel="stylesheet" href="/css/estilos.css")
	body
		div#fondo
		div#padre
			div#contenedor
				h1#titulo HospitalArqui2
				div#contenedor2
					div 
						h3 CARDIOLOGIA 
						h5 TURNO 
						h1.turno 0
						h5 AFORO
						h1.aforo 0
						h5 AFORO_MAXIMO 
						h1.aforo_maximo 0
					div 
						h3 FARMACIA 
						h5 TURNO 
						h1.turno 0
						h5 AFORO
						h1.aforo 0
						h5 AFORO_MAXIMO 
						h1.aforo_maximo 0
					div 
						h3 LABORATORIO 
						h5 TURNO 
						h1.turno 0
						h5 AFORO
						h1.aforo 0
						h5 AFORO_MAXIMO 
						h1.aforo_maximo 0
					div 
						h3 ODONTOLOGIA 
						h5 TURNO 
						h1.turno 0
						h5 AFORO
						h1.aforo 0
						h5 AFORO_MAXIMO 
						h1.aforo_maximo 0
					div 
						h3 PEDIATRIA 
						h5 TURNO 
						h1.turno 0
						h5 AFORO
						h1.aforo 0
						h5 AFORO_MAXIMO 
						h1.aforo_maximo 0
	script(src="/js/changes.js")